In [1]:
load ~/Documents/CSV/startups.csv local::DuckDuckConnection

Loaded into table: 'test3'. RowCount: 100

In [2]:
db local::DuckDuckConnection

Column Name,Type
Athlete,VARCHAR(0)
Age,BIGINT
Country,VARCHAR(0)
Year,BIGINT
Date,DATE
Sport,VARCHAR(0)
Gold,BIGINT
Silver,BIGINT
Bronze,BIGINT
Column Name,Type
city,VARCHAR(0)
country,VARCHAR(0)
year,BIGINT
tree,BIGINT
Column Name,Type
Company,VARCHAR(0)
Sector,VARCHAR(0)
Stage,VARCHAR(0)
HeadQuarter,VARCHAR(0)
Description,VARCHAR(0)
"""TurnOver($)""",DOUBLE
Year,BIGINT

In [4]:
#>{local::DuckDuckDatabase.test3}#->
filter(x|$x.HeadQuarter=='Hyderabad')->from(local::DuckDuckRuntime)

                     Company              Sector  ...   TurnOver($)  Year
0                   Eunimart          E-Commerce  ...  3.380110e+07  2018
1               Hyperdata.IO           Marketing  ...  4.555556e+06  2018
2                  Recordent             FinTech  ...  6.972143e+08  2020
3             Super Surfaces              Design  ...  5.000000e+05  2020
4               Freyr Energy    Renewable Energy  ...  2.000000e+06  2021
5                   Eunimart          E-Commerce  ...  7.000000e+05  2021
6   Sreyas Holistic Remedies            Med Tech  ...  1.000000e+06  2020
7                   Codingal              EdTech  ...  5.600000e+05  2020
8            Vistaar Finance  Financial Services  ...  3.000000e+07  2020
9                   Quintype   Content Marketing  ...  3.500000e+06  2020
10                   Cityflo    Travel/Transport  ...  7.000000e+06  2020

[11 rows x 7 columns]

In [5]:
#>{local::DuckDuckDatabase.test3}#->filter(x|$x.HeadQuarter=='Hyderabad')->from(local::DuckDuckRuntime) --var my_df

In [6]:
#Kernel: Python
#Code in Python below. Don't Remove this Header!!
my_df.head()

,Company,Sector,Stage,HeadQuarter,Description,TurnOver($),Year
0,Eunimart,E-Commerce,Seed,Hyderabad,Eunimart is a one stop solution for merchants ...,3.380110e+07,2018
1,Hyperdata.IO,Marketing,Angel,Hyderabad,Hyperdata combines advanced machine learning w...,4.555556e+06,2018
2,Recordent,FinTech,Seed,Hyderabad,A technology-enabled platform that helps MSMEs...,6.972143e+08,2020
3,Super Surfaces,Design,Series A,Hyderabad,A design solution based company,5.000000e+05,2020
4,Freyr Energy,Renewable Energy,Undisclosed,Hyderabad,Freyr Energy is a company that provides full s...,2.000000e+06,2021